body {
    background: url("images/img-1.jpg");
    background-size: cover;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

h1 {
    background: black;
    padding: 20px;
}